<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GuardarGramatica</servlet-name>
        <servlet-class>controlador.GuardarGramatica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarVariables</servlet-name>
        <servlet-class>EliminarVariables</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarVariablesInutiles</servlet-name>
        <servlet-class>controlador.EliminarVariablesInutiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarVaribalesNulas</servlet-name>
        <servlet-class>controlador.EliminarVaribalesNulas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarVariablesNulas</servlet-name>
        <servlet-class>controlador.EliminarVariablesNulas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AplicarChomsky</servlet-name>
        <servlet-class>controlador.AplicarChomsky</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearVariablesGreybatch</servlet-name>
        <servlet-class>controlador.CrearVariablesGreybatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarRecursividadIzquierda</servlet-name>
        <servlet-class>controlador.EliminarRecursividadIzquierda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarRecursividadInmediataIzquierda</servlet-name>
        <servlet-class>EliminarRecursividadInmediataIzquierda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cancelar</servlet-name>
        <servlet-class>controlador.Cancelar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelarOperation</servlet-name>
        <servlet-class>controlador.CancelarOperation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GuardarGramatica</servlet-name>
        <url-pattern>/GuardarGramatica.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarVariables</servlet-name>
        <url-pattern>/EliminarVariables.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarVariablesInutiles</servlet-name>
        <url-pattern>/EliminarVariablesInutiles.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarVaribalesNulas</servlet-name>
        <url-pattern>/EliminarVaribalesNulas.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarVariablesNulas</servlet-name>
        <url-pattern>/EliminarVariablesNulas.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AplicarChomsky</servlet-name>
        <url-pattern>/AplicarChomsky.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearVariablesGreybatch</servlet-name>
        <url-pattern>/CrearVariablesGreybatch.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarRecursividadIzquierda</servlet-name>
        <url-pattern>/EliminarRecursividadIzquierda.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarRecursividadInmediataIzquierda</servlet-name>
        <url-pattern>/EliminarRecursividadInmediataIzquierda.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cancelar</servlet-name>
        <url-pattern>/Cancelar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelarOperation</servlet-name>
        <url-pattern>/CancelarOperation.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
